@import "tailwindcss";
@import "@fontsource/poppins"; 

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}


@layer base {
  body {
    @apply font-sans;
  }
}

* {
  -ms-overflow-style: none;  /* IE & old Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* globals.css */
.carousel-slide {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.slide-active {
  transform: translateX(0) scale(1) rotateY(0deg);
  z-index: 10;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.5);
}
.slide-prev {
  transform: translateX(-85%) scale(0.78) rotateY(18deg); /* push further out */
  z-index: 5;
  filter: blur(2px) brightness(0.5);
}
.slide-next {
  transform: translateX(85%) scale(0.78) rotateY(-18deg); /* push further out */
  z-index: 5;
  filter: blur(2px) brightness(0.5);
}
.slide-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

